Promblem Statement: Predict cost to conncet enterprise customer via fiber/RF.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_excel("C:\Vijay\Project_Telecom\Project_Telecom\data\DS_1.xlsx")

In [3]:
df.head()

,Sno,Product,Lat,Long,BLDG_ID,R4G State,BW,Unit,Site ID,BLDG RFS status,...,Cost of IP,Cost for FTTX,Cost of UBR,OSP calculation,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,1,SIP-TRUNK,12.734974,77.830941,HSURBD0047899,TAMIL_NADU,3000,KBPS,EO0000016FHC,NaN,...,690750.37,NaN,45000.0,116.6,1.53,45154,426406.2,23320.0,5729.85,8788.32
1,2,MPLS-VPN,19.115980,72.847388,MUMBBD0308617,MUMBAI,15,MBPS,EO0000017XXH,S2/OTB,...,2378983.79,3350.0,45000.0,112.2,1.51,45154,410315.4,22440.0,5654.95,8673.44
2,3,MPLS-VPN,19.755118,72.756569,PLGRBD0022833,MUMBAI,4,MBPS,EO0000017XXV,NaN,...,66180528.35,NaN,45000.0,3333.0,16.15,45154,12188781.0,666600.0,60481.75,92765.60
3,4,SIP-TRUNK,11.656529,78.163851,NPNIBD0016251,KARNATAKA,10,MBPS,EO0000015IWN,NaN,...,4087948.42,NaN,45000.0,875.6,4.98,45154,3202069.2,175120.0,18650.10,28605.12
4,5,NaN,NaN,NaN,SLEMBD0043912,TAMIL_NADU,3000,KBPS,EO0000016FHE,NaN,...,1507415.86,NaN,45000.0,294.8,2.34,45154,1078083.6,58960.0,8763.30,13440.96

In [4]:
df.columns

Index(['Sno', 'Product', 'Lat', 'Long', 'BLDG_ID', 'R4G State', 'BW', 'Unit',
       'Site ID', 'BLDG RFS status', 'BLDG Status', 'Media', 'Cost',
       'TND_Scope_IP_Meter', 'TND_per_Meter', 'ROW_Per_Meter', 'TND_Cost',
       'ROW_Cost', 'OSP_Cost', 'ISP_Cost', 'IBD_Cost', 'NCPE_Cost',
       'Utility_Cost', 'Cost of IP ', 'Cost for FTTX', 'Cost of UBR',
       'OSP calculation', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32'],
      dtype='object')

In [5]:
df.drop(["Sno",'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'BW', 'Unit', 'BLDG Status',
        'Media', 'Cost','Product','BLDG RFS status','Cost for FTTX','Cost of UBR','OSP calculation',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32','Lat', 'Long','Site ID'], axis=1, inplace=True)

In [6]:
df.head()

,BLDG_ID,R4G State,TND_Scope_IP_Meter,TND_per_Meter,ROW_Per_Meter,TND_Cost,ROW_Cost,OSP_Cost,ISP_Cost,IBD_Cost,NCPE_Cost,Utility_Cost,Cost of IP
0,HSURBD0047899,TAMIL_NADU,106.0,478,273,50668,28938,509398.37,47500,33933,19413,900,690750.37
1,MUMBBD0308617,MUMBAI,102.0,7500,10000,765000,1020000,492237.79,47500,33933,19413,900,2378983.79
2,PLGRBD0022833,MUMBAI,3030.0,7500,10000,22725000,30300000,13053782.35,47500,33933,19413,900,66180528.35
3,NPNIBD0016251,KARNATAKA,796.0,297,352,236412,280192,3469598.42,47500,33933,19413,900,4087948.42
4,SLEMBD0043912,TAMIL_NADU,268.0,478,273,128104,73164,1204401.86,47500,33933,19413,900,1507415.86

In [7]:
df.columns

Index(['BLDG_ID', 'R4G State', 'TND_Scope_IP_Meter', 'TND_per_Meter',
       'ROW_Per_Meter', 'TND_Cost', 'ROW_Cost', 'OSP_Cost', 'ISP_Cost',
       'IBD_Cost', 'NCPE_Cost', 'Utility_Cost', 'Cost of IP '],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BLDG_ID             26 non-null     object
 1   R4G State           26 non-null     object
 2   TND_Scope_IP_Meter  22 non-null     float64
 3   TND_per_Meter       26 non-null     int64
 4   ROW_Per_Meter       26 non-null     int64
 5   TND_Cost            26 non-null     int64
 6   ROW_Cost            26 non-null     int64
 7   OSP_Cost            26 non-null     float64
 8   ISP_Cost            26 non-null     int64
 9   IBD_Cost            26 non-null     int64
 10  NCPE_Cost           26 non-null     int64
 11  Utility_Cost        26 non-null     int64
 12  Cost of IP          26 non-null     float64
dtypes: float64(3), int64(8), object(2)
memory usage: 2.8+ KB

In [9]:
df.isna().sum()

BLDG_ID               0
R4G State             0
TND_Scope_IP_Meter    4
TND_per_Meter         0
ROW_Per_Meter         0
TND_Cost              0
ROW_Cost              0
OSP_Cost              0
ISP_Cost              0
IBD_Cost              0
NCPE_Cost             0
Utility_Cost          0
Cost of IP            0
dtype: int64

In [10]:
df['TND_Scope_IP_Meter'] = df['TND_Scope_IP_Meter'].fillna(0)

In [11]:
df['TND_Scope_IP_Meter']

0      106.0
1      102.0
2     3030.0
3      796.0
4      268.0
5      582.0
6      119.0
7      328.0
8      861.0
9        0.0
10    1159.0
11       0.0
12     248.0
13       0.0
14      62.0
15       0.0
16     403.0
17       0.0
18     303.0
19       0.0
20    5268.0
21     505.0
22     367.0
23     470.0
24     445.0
25     188.0
Name: TND_Scope_IP_Meter, dtype: float64

In [12]:
df.isna().sum()

BLDG_ID               0
R4G State             0
TND_Scope_IP_Meter    0
TND_per_Meter         0
ROW_Per_Meter         0
TND_Cost              0
ROW_Cost              0
OSP_Cost              0
ISP_Cost              0
IBD_Cost              0
NCPE_Cost             0
Utility_Cost          0
Cost of IP            0
dtype: int64

In [13]:
df.BLDG_ID.nunique()

26

In [14]:
df = pd.get_dummies(df, columns=['BLDG_ID'], prefix= 'BLDG_ID')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   R4G State              26 non-null     object
 1   TND_Scope_IP_Meter     26 non-null     float64
 2   TND_per_Meter          26 non-null     int64
 3   ROW_Per_Meter          26 non-null     int64
 4   TND_Cost               26 non-null     int64
 5   ROW_Cost               26 non-null     int64
 6   OSP_Cost               26 non-null     float64
 7   ISP_Cost               26 non-null     int64
 8   IBD_Cost               26 non-null     int64
 9   NCPE_Cost              26 non-null     int64
 10  Utility_Cost           26 non-null     int64
 11  Cost of IP             26 non-null     float64
 12  BLDG_ID_AGBMBD0311718  26 non-null     uint8
 13  BLDG_ID_BBILBD0000290  26 non-null     uint8
 14  BLDG_ID_BDGHBD0097038  26 non-null     uint8
 15  BLDG_ID_CHNNBD0062206  26 non-null     uint8
 16  BLDG_ID_CTTRBD0002352  26 non-null     uint8
 17  BLDG_ID_DMTRBD0024571  26 non-null     uint8
 18  BLDG_ID_DPHUBD0007887  26 non-null     uint8
 19  BLDG_ID_FSNGBD0000338  26 non-null     uint8
 20  BLDG_ID_HDBDBD0303686  26 non-null     uint8
 21  BLDG_ID_HSURBD0047899  26 non-null     uint8
 22  BLDG_ID_ICKJBD0000744  26 non-null     uint8
 23  BLDG_ID_JBLPBD0064985  26 non-null     uint8
 24  BLDG_ID_JLDRBD0123615  26 non-null     uint8
 25  BLDG_ID_KNTDBD0047085  26 non-null     uint8
 26  BLDG_ID_LKMPBD0062346  26 non-null     uint8
 27  BLDG_ID_MDURBD0193179  26 non-null     uint8
 28  BLDG_ID_MUMBBD0308617  26 non-null     uint8
 29  BLDG_ID_MUMBBD0379405  26 non-null     uint8
 30  BLDG_ID_NPNIBD0016251  26 non-null     uint8
 31  BLDG_ID_NSHKBD0060970  26 non-null     uint8
 32  BLDG_ID_PLGRBD0022833  26 non-null     uint8
 33  BLDG_ID_RJKTBD0016176  26 non-null     uint8
 34  BLDG_ID_SLEMBD0043912  26 non-null     uint8
 35  BLDG_ID_SRDPBD0000002  26 non-null     uint8
 36  BLDG_ID_SURTBD0128500  26 non-null     uint8
 37  BLDG_ID_WNDGBD0000008  26 non-null     uint8
dtypes: float64(3), int64(8), object(1), uint8(26)
memory usage: 3.2+ KB


one_hot = pd.get_dummies(df['R4G State'])
# Drop column as it is now encoded
df = df.drop('R4G State',axis = 1)
# Join the encoded df
df = df.join(one_hot)
df

In [16]:
df = pd.get_dummies(df, columns=['R4G State'], prefix= 'state')

In [17]:
df.columns

Index(['TND_Scope_IP_Meter', 'TND_per_Meter', 'ROW_Per_Meter', 'TND_Cost',
       'ROW_Cost', 'OSP_Cost', 'ISP_Cost', 'IBD_Cost', 'NCPE_Cost',
       'Utility_Cost', 'Cost of IP ', 'BLDG_ID_AGBMBD0311718',
       'BLDG_ID_BBILBD0000290', 'BLDG_ID_BDGHBD0097038',
       'BLDG_ID_CHNNBD0062206', 'BLDG_ID_CTTRBD0002352',
       'BLDG_ID_DMTRBD0024571', 'BLDG_ID_DPHUBD0007887',
       'BLDG_ID_FSNGBD0000338', 'BLDG_ID_HDBDBD0303686',
       'BLDG_ID_HSURBD0047899', 'BLDG_ID_ICKJBD0000744',
       'BLDG_ID_JBLPBD0064985', 'BLDG_ID_JLDRBD0123615',
       'BLDG_ID_KNTDBD0047085', 'BLDG_ID_LKMPBD0062346',
       'BLDG_ID_MDURBD0193179', 'BLDG_ID_MUMBBD0308617',
       'BLDG_ID_MUMBBD0379405', 'BLDG_ID_NPNIBD0016251',
       'BLDG_ID_NSHKBD0060970', 'BLDG_ID_PLGRBD0022833',
       'BLDG_ID_RJKTBD0016176', 'BLDG_ID_SLEMBD0043912',
       'BLDG_ID_SRDPBD0000002', 'BLDG_ID_SURTBD0128500',
       'BLDG_ID_WNDGBD0000008', 'state_ANDHRA_PRADESH', 'state_ASSAM',
       'state_CHHATTISGARH', 'state_GUJARAT', 'state_HARYANA',
       'state_KARNATAKA', 'state_KERALA', 'state_MADHYA_PRADESH',
       'state_MAHARASHTRA', 'state_MUMBAI', 'state_PUNJAB', 'state_TAMIL_NADU',
       'state_TELANGANA', 'state_UTTAR_PRADESH_EAST'],
      dtype='object')

In [18]:
x = df.drop('Cost of IP ', axis=1)
y = df['Cost of IP ']

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [20]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [21]:
model.score(x_train,y_train)

1.0

### user define function

In [22]:
x.columns

Index(['TND_Scope_IP_Meter', 'TND_per_Meter', 'ROW_Per_Meter', 'TND_Cost',
       'ROW_Cost', 'OSP_Cost', 'ISP_Cost', 'IBD_Cost', 'NCPE_Cost',
       'Utility_Cost', 'BLDG_ID_AGBMBD0311718', 'BLDG_ID_BBILBD0000290',
       'BLDG_ID_BDGHBD0097038', 'BLDG_ID_CHNNBD0062206',
       'BLDG_ID_CTTRBD0002352', 'BLDG_ID_DMTRBD0024571',
       'BLDG_ID_DPHUBD0007887', 'BLDG_ID_FSNGBD0000338',
       'BLDG_ID_HDBDBD0303686', 'BLDG_ID_HSURBD0047899',
       'BLDG_ID_ICKJBD0000744', 'BLDG_ID_JBLPBD0064985',
       'BLDG_ID_JLDRBD0123615', 'BLDG_ID_KNTDBD0047085',
       'BLDG_ID_LKMPBD0062346', 'BLDG_ID_MDURBD0193179',
       'BLDG_ID_MUMBBD0308617', 'BLDG_ID_MUMBBD0379405',
       'BLDG_ID_NPNIBD0016251', 'BLDG_ID_NSHKBD0060970',
       'BLDG_ID_PLGRBD0022833', 'BLDG_ID_RJKTBD0016176',
       'BLDG_ID_SLEMBD0043912', 'BLDG_ID_SRDPBD0000002',
       'BLDG_ID_SURTBD0128500', 'BLDG_ID_WNDGBD0000008',
       'state_ANDHRA_PRADESH', 'state_ASSAM', 'state_CHHATTISGARH',
       'state_GUJARAT', 'state_HARYANA', 'state_KARNATAKA', 'state_KERALA',
       'state_MADHYA_PRADESH', 'state_MAHARASHTRA', 'state_MUMBAI',
       'state_PUNJAB', 'state_TAMIL_NADU', 'state_TELANGANA',
       'state_UTTAR_PRADESH_EAST'],
      dtype='object')

In [23]:
len(x.columns)

50

In [24]:
df.head(1)

,TND_Scope_IP_Meter,TND_per_Meter,ROW_Per_Meter,TND_Cost,ROW_Cost,OSP_Cost,ISP_Cost,IBD_Cost,NCPE_Cost,Utility_Cost,...,state_HARYANA,state_KARNATAKA,state_KERALA,state_MADHYA_PRADESH,state_MAHARASHTRA,state_MUMBAI,state_PUNJAB,state_TAMIL_NADU,state_TELANGANA,state_UTTAR_PRADESH_EAST
0,106.0,478,273,50668,28938,509398.37,47500,33933,19413,900,...,0,0,0,0,0,0,0,1,0,0

In [60]:
                      
ID = 'WNDGBD0000008'
state = 'MAHARASHTRA'
TND_Scope_IP_Meter = 106
TND_per_Meter = 478
ROW_Per_Meter = 273

                      
user_data = np.zeros(len(x.columns))
user_data[0] = TND_Scope_IP_Meter
user_data[1] = TND_per_Meter
user_data[2] = ROW_Per_Meter
user_data[3] = user_data[0] * user_data[1]
user_data[4] = user_data[0] * user_data[2]
user_data[5] = 45154+(user_data[0]*1.1*3657)+(user_data[0]*1.1*200)+(((user_data[0]/200)+1)*3745)+(((user_data[0]/200)+1)*5744)
user_data[6] = 47500
user_data[7] = 33933
user_data[8] = 19413
user_data[9] = 900                    
                                           
BLDG_ID = 'BLDG_ID_'+ID
index = np.where(x.columns == BLDG_ID)[0][0]
user_data[index] = 1

R4G_State = 'state_'+state
index = np.where(x.columns == R4G_State)[0][0]
user_data[index] = 1
                      
result = model.predict([user_data])
np.round(result, decimals=3)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([690750.37])

In [36]:
ID = 'WNDGBD0000008'
BLDG_ID = 'BLDG_ID_'+ID
index = np.where(x.columns == BLDG_ID)[0][0]
user_data[index] = 1
index

35

In [38]:
state = 'UTTAR_PRADESH_EAST'
R4G_State = 'state_'+state
index = np.where(x.columns == R4G_State)[0][0]
user_data[index] = 1
index

49

In [40]:
x.shape

(26, 50)

### Save Model File

In [26]:
import pickle
import json

In [27]:
with open('model.pkl','wb') as file:
    pickle.dump(model, file)

In [28]:
project_data = {"column_names":x.columns.tolist()}

with open('project_data.json','w') as file:
    json.dump(project_data,file)

In [ ]:
<option value="BLDG_ID_AGBMBD0311718">AGBMBD0311718</option>
<option value='BLDG_ID_BBILBD0000290'>BBILBD0000290</option>
<option value='BLDG_ID_BDGHBD0097038'>BDGHBD0097038</option>
<option value='BLDG_ID_CHNNBD0062206'>CHNNBD0062206</option>
<option value='BLDG_ID_CTTRBD0002352'>CTTRBD0002352</option>
<option value='BLDG_ID_DMTRBD0024571'>DMTRBD0024571</option>
<option value='BLDG_ID_DPHUBD0007887'>DPHUBD0007887</option>
<option value='BLDG_ID_FSNGBD0000338'>FSNGBD0000338</option>
<option value='BLDG_ID_HDBDBD0303686'>HDBDBD0303686</option>
<option value='BLDG_ID_HSURBD0047899'>HSURBD0047899</option>
<option value='BLDG_ID_ICKJBD0000744'>ICKJBD0000744</option>
<option value='BLDG_ID_JBLPBD0064985'>JBLPBD0064985</option>
<option value='BLDG_ID_JLDRBD0123615'>JLDRBD0123615</option>
<option value='BLDG_ID_KNTDBD0047085'>KNTDBD0047085</option>
<option value='BLDG_ID_LKMPBD0062346'>LKMPBD0062346</option>
<option value='BLDG_ID_MDURBD0193179'>MDURBD0193179</option>
<option value='BLDG_ID_MUMBBD0308617'>MUMBBD0308617</option>
<option value='BLDG_ID_MUMBBD0379405'>MUMBBD0379405</option>
<option value='BLDG_ID_NPNIBD0016251'>NPNIBD0016251</option>
<option value='BLDG_ID_NSHKBD0060970'>NSHKBD0060970</option>
<option value='BLDG_ID_PLGRBD0022833'>PLGRBD0022833</option>
<option value='BLDG_ID_RJKTBD0016176'>RJKTBD0016176</option>
<option value='BLDG_ID_SLEMBD0043912'>SLEMBD0043912</option>
<option value='BLDG_ID_SRDPBD0000002'>SRDPBD0000002</option>
<option value='BLDG_ID_SURTBD0128500'>SURTBD0128500</option>
<option value='BLDG_ID_WNDGBD0000008'>WNDGBD0000008</option>

In [ ]:
<option value='ANDHRA_PRADESH'>ANDHRA_PRADESH</option>
<option value='ASSAM'>ASSAM</option>
<option value='CHHATTISGARH'>CHHATTISGARH</option>
<option value='GUJARAT'>GUJARAT</option>
<option value='HARYANA'>HARYANA</option>
<option value='KARNATAKA'>KARNATAKA</option>
<option value='KERALA'>KERALA</option>
<option value='MADHYA_PRADESH'>MADHYA_PRADESH</option>
<option value='MAHARASHTRA'>MAHARASHTRA</option>
<option value='MUMBAI'>MUMBAI</option>
<option value='PUNJAB'>PUNJAB</option>
<option value='TAMIL_NADU'>TAMIL_NADU</option>
<option value='TELANGANA'>TELANGANA</option>
<option value='UTTAR_PRADESH_EAST'>UTTAR_PRADESH_EAST</option>